#nsi-info {
    display: block;
    position: fixed;
    top: 0;
    color: red;
    height: 32px;
    font-family: monospace;
    font-weight: bold;
    z-index: 99999999;
}

@media screen and (max-width: 782px) {
    #nsi-info {
        font-size: 18px;
        padding: 12px 22px;
    }
}

@media screen and (min-width: 783px) {
    #nsi-info {
        font-size: 14px;
        padding: 5px 10px;
    }
}